body {
  font-family: "Roboto", sans-serif;
}


/* -------------- Home Section ---------------- */

.home {
  background-image: url("../img/slider/slider-01.jpg");
  background-position: center;
  height: 670px;
  background-size: cover;
  position: relative;
}
.home .layer {
  background-color: rgba(0, 0, 0, 0.7);
}
.home .layer .navbar-brand {
  font-size: 24px;
  font-weight: 600;
}
.navbar-dark .navbar-nav .active > .nav-link,
.home .layer .navbar-brand,
.home .layer .text h1 {
  color: #ff305b !important;
}
.home .layer .text {
  position: absolute;
  top: 33%;
  left: 35%;
  line-height: 1.3px;
}
.home .layer .text p {
  font-size: 22px;
}
.home .layer .text h1 {
  font-size: 60px;
  font-weight: 800;
}
.home .layer .text h3 {
  font-weight: 300;
  font-size: 22px;
  overflow: hidden;
}
#designer::after {
  content: " ";
  top: 0;
  border-right: solid 2px white;
}

h3 #designer::after {
  animation: type-designer 5s infinite;
  animation-duration: 4s;
}

h3 #developer::after {
  animation: type-developer 1.2s infinite;
  animation-delay: 2s;
}

@keyframes type-designer {
  0% {
    content: " d";
  }
  5% {
    content: "de";
  }
  10% {
    content: "des";
  }
  15% {
    content: "desi";
  }
  20% {
    content: "desig";
  }
  25% {
    content: "design";
  }
  30% {
    content: "designe";
  }
  35% {
    content: "designer";
  }
  40% {
    content: "d";
  }
  45% {
    content: "de";
  }
  50% {
    content: "dev";
  }
  60% {
    content: "devl";
  }
  70% {
    content: "devlo";
  }

  80% {
    content: "devlop";
  }
  90% {
    content: "devlope";
  }
  100% {
    content: "devloper";
  }
}

/* -------------- About Section ---------------- */

.about .container .image .caption {
  background-color: rgba(0, 0, 0, 0.5);
  top: 100%;
  opacity: 0;
  transition: top 0.5s;
}
.about .container .image:hover .caption {
  opacity: 1;
  top: 0;
}
.about .container .image .caption a img {
  width: 30px;
}
.about .container .text h2 {
  font-size: 30px;
}
.about .container .text h2::before{
    content: "I";
    color: #ff305b;
    margin-right:5px ;
}
.about .container .text p {
  line-height: 25px;
  border-bottom: dashed 1px #e0d6d6;
}
.about .container .text ul li span {
  color: #333333;
}
.about .container .text button {
  background-color: #ff305b !important;
  border: none;
}


/* -------------- Services Section ---------------- */
.services {
  background-color: #f1f1f1;
}
.services .container h2 , .portfolio .container h2 {
  font-size: 36px;
}
.services .container h2::after , .contact .container h2::after ,.portfolio .container h2::after ,.feedback .container h2::after ,.blog .container h2::after{
    content: "";
    height: 1px;
    width: 60px;
    background-color: #ff305b;
    position: relative;
    display: block;
    margin: 20px auto 0px;
}
.services .container .line::before , .contact .container .line::before , .portfolio .container .line::before , .feedback .container .line::before , .blog .container .line::before{
    content: "";
    height: 1px;
    width: 140px;
    background-color: #ff305b;
    position: relative;
    display: block;
    margin: 0px auto 10px;
}
.services .container .line::after , .contact .container .line::after , .portfolio .container .line::after , .feedback .container .line::after , .blog .container .line::after{
    content: "";
    height: 1px;
    width: 60px;
    background-color: #ff305b;
    position: relative;
    display: block;
    margin: 0px auto;
}

.services .container .member{
    transition: background-color 1s;
}

.services .container .member:hover {
  background-color: white;
}
.services .container .member i {
  font-size: 30px;
  color: #ff305b;
  transition: transform 0.25s;
}
.services .container .member:hover i {
  transform: scale(1.1, 1.1);
}
.services .container .member p {
  line-height: 25px;
}

/* -------------- Portfolio Section ---------------- */

.portfolio .container .butt button {
  border: none ;
  background-color: white;
  color: #333333;
}
.portfolio .container .butt .active {
  color: #ff305b;
}
.portfolio .container .picture  .pic .caption {
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  opacity: 0;
  transition: opacity 1s;
}
.portfolio .container .picture  .pic:hover .caption {
  opacity: 1;
}

/* -------------- Counter Section ---------------- */

.counter {
  background-color: #f1f1f1;
}
.counter .container .part{
    color: #ff305b;
    font-size: 22px;
}

.counter .container .part h3 {
  font-size: 22px;
  font-weight: 900;
  color: #333333;
}
.counter .container .part h5 {
  color: #555555;
}

/* -------------- Feedback Section ---------------- */

.feedback h2 {
  font-size: 32px;
}
.feedback .container .member {
  margin: auto;
  width: 65%;
  background-color: #f1f1f1;
  padding: 30px;
  position: relative;
}
.feedback .container .member::after {
  content: "";
  width: 0;
  height: 0;
  border-top: solid 200px #ff305b;
  border-right: solid 200px transparent;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.feedback .container .member .image {
  position: relative;
  text-align: center;
  z-index: 111;
}
.feedback .container .member .image img {
  border-radius: 50%;
  width: 100px;
}
.feedback .container .member .text h3 {
  font-size: 26px;
  margin: 10px 0px;
  color: #333;
  font-weight: 500;
}
.feedback .container .member .text a {
  color: #777777;
  font-size: 15px;
}
.feedback .container .member .text p {
  color: #555555;
  line-height: 25px;
}

/* -------------- Blog Section ---------------- */

.blog {
  background-color: #f1f1f1;
}
.blog .container h2 {
  font-size: 36px;
}

.blog .container .items {
  color: #555555;
  line-height: 25px;
}
.blog .container .items .item {
  background-color: white;
}
.blog .container .items .item a {
  color: #333333;
  font-size: 22px;
}
.blog .container .items .item a:hover {
  color: #ff305b;
}

.blog .container .items .item a iframe {
  height:190px;
}

.blog .container .items .item .text .more {
  font-size: 16px;
}

/* -------------- Contact Section ---------------- */

.contact .container h2 {
  text-align: center;
  font-size: 36px;
}
.contact .container .form {
  font-size: 14px;
}
.contact .container .form .contact-form input[type="submit"] {
  background-color: #ff305b;
  border-radius: 5px;
  border: none;
}
.contact .container .form .contact-form input[type="submit"]:hover {
  background-color: #ec2403;
}

/* -------------- Footer Section ---------------- */

.footer {
  background-color: #333333;
}
.footer .container .icons ul li {
  color: #555555;
}
.footer .container .icons ul li img {
  width: 30px;
}
.footer .container  p span a {
  color: #ef3057;
}

@media screen and (max-width: 1024px) {
    .blog .container .items .item a iframe {
        height:155px;
      }
  }
@media screen and (max-width: 768px) {
    .blog .container .items .item a iframe {
        height:110px;
      }
      .home .layer .text{
        left: 30%;
    }
  }
  @media screen and (max-width: 575px){

    .home .layer .text{
        left: 20%;
    }
}
@media screen and (max-width: 425px){

    .home .layer .text{
        left: 10%;
    }
}
@media screen and (max-width: 375px){

    .home .layer .text{
        left: 5%;
    }
}

@media screen and (max-width: 320px){

    .home .layer .text{
        left: 0%;
    }
}